SECRET_KEY=your-very-secret-key-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1


DB_ENGINE=django.db.backends.postgresql
DB_NAME=worksphere_db
DB_USER=worksphere_user
DB_PASSWORD=worksphere123
DB_HOST=localhost
DB_PORT=5432

SESSION_COOKIE_AGE=3600
SESSION_EXPIRE_AT_BROWSER_CLOSE=True